<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thedockhub.app" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>The Dock Hub</name>
    <description>
        The Dock Hub App - designed by OfficeHounds to allow refreshments to be ordered from the meeting rooms
    </description>
    <author email="maggie@officehounds.com" href="http://officehounds.com">
OfficeHounds
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
